In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, Flatten
from tensorflow.keras.layers import MaxPool2D, BatchNormalization, Dropout
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

In [2]:
data_path = '../datasets/fashionmnist'

In [3]:
train = pd.read_csv(data_path+ '/fashion-mnist_train.csv')
test = pd.read_csv(data_path+ '/fashion-mnist_test.csv')

In [4]:
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
x = train.drop('label',axis = 1)
y = train['label']

In [6]:
x.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,5,0,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,1,2,0,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
x.shape

(60000, 784)

In [8]:
x = np.array(x)
x = x.reshape(-1,28,28,1)/255.0
x.shape

(60000, 28, 28, 1)

In [9]:
y.head()

0    2
1    9
2    6
3    0
4    3
Name: label, dtype: int64

In [10]:
OE = OneHotEncoder(sparse=False)
y =OE.fit_transform(np.array(y).reshape(-1,1))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

In [23]:
model = Sequential()
#add model layers

model.add(Conv2D(filters = 32, kernel_size=(3,3), activation='relu', input_shape=(28,28,1)))
model.add(MaxPool2D(pool_size=(2, 2), strides=None, padding='valid', data_format=None))

model.add(Conv2D(64, kernel_size=3, activation='relu'))
model.add(MaxPool2D(pool_size=(2, 2), strides=None, padding='valid', data_format=None))

model.add(Flatten())

model.add(Dense(units=300,activation = 'relu'))
model.add(Dropout(0.2))

model.add(Dense(10, activation='softmax'))

In [24]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [26]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=5)

Train on 48000 samples, validate on 12000 samples
Epoch 1/5
48000/48000 [==============================] - 30s 619us/sample - loss: 0.2380 - acc: 0.9120 - val_loss: 0.2533 - val_acc: 0.9085
Epoch 2/5
48000/48000 [==============================] - 31s 652us/sample - loss: 0.2097 - acc: 0.9222 - val_loss: 0.2654 - val_acc: 0.8976
Epoch 3/5
48000/48000 [==============================] - 32s 676us/sample - loss: 0.1841 - acc: 0.9326 - val_loss: 0.2485 - val_acc: 0.9089
Epoch 4/5
48000/48000 [==============================] - 32s 663us/sample - loss: 0.1649 - acc: 0.9387 - val_loss: 0.2461 - val_acc: 0.9120
Epoch 5/5
48000/48000 [==============================] - 30s 622us/sample - loss: 0.1457 - acc: 0.9450 - val_loss: 0.2615 - val_acc: 0.9098